<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/forgot" method="post">
        <div class="form-group">
            <label for="contact">Contact Number</label>
            <input type="number" name="contact" class="form-control" id="contact" placeholder="Enter contact">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>

</html>